<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xujiafeng.myview"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ball.BallActivity"></activity>
        <activity android:name=".activity.bitmap.identify.IdentifyColorActivity" />
        <activity android:name=".activity.list.planb.ListPlanbActivity" />
        <activity android:name=".activity.list.ListActivity" />
        <activity android:name=".activity.star.StarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.automatic_ball.AutoBallActivity" />
        <activity android:name=".activity.clock.ClockActivity" />
        <activity android:name=".activity.identifying_code.CodeActivity" />
        <activity android:name=".activity.side_slipe.SideMenuActivity" />
        <activity android:name=".activity.animator.person_animator.PersonAnimatorActivity" />
        <activity android:name=".activity.ferris_wheel.FerrisWheelActivity" />
        <activity android:name=".activity.bezier_curve.my_bezier_line.MyBezierActivity" />
        <activity android:name=".activity.pay_password.PayPasswordActivity" />
        <activity android:name=".activity.bitmap.bitmap_edit.BitmapEditActivity" />
        <activity android:name=".activity.bezier_curve.BezierCurverActivity" />
        <activity android:name=".activity.bezier_curve.bezier_show.BezierShowActivity" />
        <activity android:name=".activity.bezier_curve.path.PathTestActivity" />
        <activity android:name=".activity.broken_line.BrokenLineActivity" />
        <activity android:name=".activity.bitmap.BitmapActivity" />
        <activity android:name=".activity.animator.SomeAnimatorActivity" />
        <activity android:name=".activity.animator.sinple_animator.SimpleAnimatorActivity" />
    </application>

</manifest>