<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xuyu.myview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".automaticball.FirstActivity">
        </activity>
        <activity android:name=".clock.SecondActivity">
        </activity>
        <activity android:name=".identifying_code.ThirdActivity">
        </activity>
        <activity android:name=".side_slipe.FourthActivity">
        </activity>
        <activity android:name=".animator_view.FifthActivity">
        </activity>
        <activity android:name=".ferris_wheel.SixthActivity">
        </activity>
        <activity android:name=".bezier_curve.my_bezier_line.MyBezierActivity">
        </activity>
        <activity android:name=".pay_password.EighthActivity">
        </activity>
        <activity android:name=".list_view.NinthActivity">
        </activity>
        <activity android:name=".bezier_curve.SeventhActivity">
        </activity>
        <activity android:name=".bezier_curve.bezier_show.BezierShowActivity">
        </activity>
    </application>

</manifest>